<%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-lg"  %>



<% @cocktails.each do |cocktail|  %>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img style="width: 200px; height: 200px;" src="https://source.unsplash.com/featured/?<%=cocktail.name.downcase %>" alt="...">
        <div class="caption">
          <h3><%= cocktail.name  %></h3>
          <p><%= cocktail.id  %></p>
          <p><%= link_to "Show More", cocktail_path(cocktail), class: "btn btn-primary"  %><a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
